[submodule "lib/libevent"]
	path = lib/libevent
	url = https://github.com/libevent/libevent.git
[submodule "lib/libisshe"]
	path = lib/libisshe
	url = https://github.com/isshe/libisshe.git
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/openssl/openssl.git
